/*
* On refait les alertes
*/
/*@alert-warning-text:    #f0ad4e;
@alert-warning-border:  #f0ad4e;
@btn-warning-color:     #f0ad4e;
@btn-warning-border:    #f0ad4e;*/
.alert {
  font-size: @font-size-small + 2;
  & > a {
    color: @body-bg;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.stack-bottomright .ui-pnotify-text{
  font-size: @font-size-small;
}