.breadcrumb {
  border: 1px solid @state-info-border;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  text-transform: inherit;
  li a{
    color: @body-bg;
  }
}


.badge{
  vertical-align: middle;
}

/**
* Progress bars
*/
.progress-bar{
  line-height: inherit;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

abbr[title], abbr[data-original-title] {
  border-bottom: none; /* 1 */
  text-decoration: underline dotted; /* 2 */
}

.tooltip-inner {
  word-wrap: break-word;
}

.page-header {
  margin: 20px 0 24px;
}