/**
* Colorer un fond différemment
*/
.alt-bg-color{
  background-color: @table-bg-accent;
}

/**
* Passer un élément en inline-block
*/
.inline-block{
  display: inline-block;
}

/**
* Sticky Footer
* @from <http://ryanfait.com/html5-sticky-footer/>
*/

html, body, #wrapper{
  height: 100%;
}

#page-content-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 35px;
  margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
  height: 35px; /* '.push' must be the same height as 'footer' */
  text-align: right;
  padding-right: 5%;
  font-size: @font-size-small;
}

/**
* Logo de Poulpe2
*/
.logo-text{

}

.logo-highlight{
  color: @brand-primary;
}

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  left: -300px; /* padding from the left side of the window */
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  left: 10px; /* padding from the left side of the window */
  bottom: 10px
}

.table{
  font-size: @font-size-base;
}

.menu-item-desc{
  padding: 0.8em 0.5em 0 0 ;
  &:hover{
    cursor: help;
  }
}

/*.content-header{
  background-color: @link-color;
}
.content-header-title{
  text-align: right;
  a{
    color: @body-bg;
    &:hover{
      color: @body-bg;
    }
  }
}*/