/**
* Masquage du menu principal
*/
.display-main-menu{
  color: @gray-dark;
  font-size: 1.8em;
  margin-top:-6px;
  margin-right:4px;
  margin-left:4px
}

.secondary-menu-title{
  color: @gray-dark;
}

.menu .menu-highlight a{
  color: @brand-primary;
}

.menu .menu-warning a{
  color: @brand-warning;
}
.menu .menu-warning a:hover{
  background-color: @brand-warning;
  color: @text-color;
}
.menu .menu-danger a{
  color: @brand-danger;
}
.menu .menu-danger a:hover{
  background-color: @brand-danger;
}